:local(.styles) {
  #registration-details {
    margin: 0 auto;
    margin-top: 30px;

    li {
      padding: 10px;
      text-align: left;

      span:nth-child(1) {
        display: inline-block;
        width: 140px;
      }

      span:nth-child(2) {
        text-align: right;
        max-width: 340px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }

      &:first-child,
      &:last-child {
        border-top: 1px dotted $lighterGrey;
      }

      &:last-child {
        font-weight: bold;
      }

    }
  }
}
