:local(.styles) {
  .root {
    &.disabled {
      svg {
        circle {
          fill: $disabled;
        }
      }
    }

    svg {
      circle {
        fill: $secondary;
      }

      text {
        fill: $white;
      }
    }
  }
}
