:local(.styles) {
  .politics-disclosure {
    width: 100px;
    color: red;
  }

  .politics-validated {
    color: green !important;
  }
  
  .politics-pending {
    color: yellow !important;
  }
}
