:local(.styles) {
  .image-container {
    position: relative;
    float: left;
    height: 100%;
    width: 360px;
    margin-right: 30px;
    text-align: center;

    .image-preview {
      height: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 400px) {
    .image-container {
      width: 100%;
      border: 2px solid red;
      margin: 0;
      float: none;
    }
  }
}
